.main-nav{
    display:grid;
    padding:0 150px ;
    grid-template-columns: 6fr 3fr;
    width:100%;
    margin:auto;
    height: 13vh;
    align-items: center;
    border-radius: 5px;
    background:rgba(29, 91, 169, 0.19);
    left:10%;
    z-index: 100;
}
@media screen and (max-width:1000px){
    .main-nav{
        padding :0 20px;
    }
}
.main-nav h1, a{
    color:#fff;
}
.main-nav a{
    text-decoration: none;
}
.main-nav h1{
    padding-left: 80px;
}
.hidden{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.unhide{
    display: none;
}
@media screen and (max-width:1000px){
    .main-nav{
        width:100%;
        left:0;
        grid-template-columns: 6fr 1.5fr;
    }
    .hidden{
        display:none
    }
    .unhide{
        display:block;
    }
}